<nav class="navbar navbar-default navbar-fixed-top" style="background-color: lightpink">


	<%= link_to posts_path do %>
	<div class="col-md-4 nav-links">
		<i class="fa fa-home" aria-hidden="true"></i>
	</div>
	<% end %>


	<% Category.all.each do |category| %>
	  <div class="col-md-3 nav-links">
	  	<%= link_to category.name, posts_path(category: category.name) %>
	  </div>
	<% end %>


	<% if session[:admin] then %>
 		<%= link_to new_post_path do %>
 			<div class="col-md-3 nav-links">
 				<i class="fas fa-plus"></i>
 			</div>
 		<% end %>
 	<% else %>
 		<div class="col-md-3" ></div>
	<% end %>
	

	
</nav>


