 <%= link_to root_path, class:"btn btn-default" do %>
   <button type="button" class="btn btn-light"> Back
   </button> 
 <% end %> 

<div class="row justify-content-md-center">
	<h1 class="col-md-6 page-heading">Edit Post</h1>
</div>
<%= render 'form' %>

