<% @posts.each do |post| %>
<div class="row justify-content-md-center">
	<div class="container col-md-6 post-container border rounded post-container">
		<h1 class="post-heading"><%= link_to post.title, post %></h1>
		<%= image_tag post.image_url.to_s %>
		<p><%= post.content %></p>		          
	 </div>
	</div>
<% end %>