<% if session[:admin] then %>

 <%= link_to edit_post_path(@post), class: "btn btn-default" do %>
   <button type="button" class="btn btn-light"> Edit
   </button> 
 <% end %> 
 <%= link_to @post, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default" do %>
   <button type="button" class="btn btn-light"> Delete
   </button> 
 <% end %> 
<% end %>

<article class="post">
<div class="row justify-content-md-center">
	<div class="container col-md-6 post-container border rounded post-container">
	     <h1><%= link_to @post.title, @post %></h1>
	     <%= image_tag @post.image_url.to_s %>
	     <p><%= @post.content %></p>	     
	 </div>
	</div>
</article>