.nav-links {
	display: inline-block;

}

.nav-links > a, .nav-links > i {
	color: hotpink !important;
	display:inline-block;
	text-align: center;
}

.post-container {
	padding-top: 1em;
	margin-top: 3em;
	background-color: lightpink;
	padding-bottom:1em;
}

.post-container > img {
	width: 100%;
	height: auto;
}

.page-heading {
	margin-top: 1em;
}

.post-heading > a {
	margin-top: 0em !important;
	color: hotpink;
}
