// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nav-links > a {
	color: hotpink !important;
	display:inline-block;
	text-align: center;
}

.post-container {
	margin-top: 200px;
}
